---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<h2>Bienvenue au catéchuménat de Saint-Nicolas-des-Champs !</h2>

Vous trouverez le programme des soirées sur la page <a href="/about/">Le programme</a>, ainsi que les informations pratiques. Ci-dessous des enregistrements des enseignements passés.

Vous souhaitez vous inscrire ? <a href="https://tally.so/r/D4AkWE">Remplissez ce formulaire</a>, et on revient vers vous.

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Les {{ latestPostsCount }} derniers enseignements{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
